pipeline/11_copyactivity_as per pervious date formate.json
{
	"name": "11_copyactivity_as per pervious date formate",
	"properties": {
		"activities": [
			{
				"name": "scr_file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "src_file_name",
					"value": {
						"value": "@concat('orders_',formatDateTime(addDays(utcNow(),-1),'ddMMyyyy'),'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "scr_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Dataset_Src",
						"type": "DatasetReference",
						"parameters": {
							"Scr_name": {
								"value": "@variables('src_file_name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dataset_loading",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"src_file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-07T10:48:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}